# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraformrc
terraform.rc
crash.log
override.tf
override.tf.json
terraform/backend.hcl
terraform/*.backend.hcl
# Secrets
.env
*.pem
*.key

# OS
.DS_Store


terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/backend.hcl
terraform/.terraform/
terraform/.terraform.lock.hcl
